<h1>Registrate en nuestra plataforma</h1>

<form action="/signup" method="post">
  <p>
    Nombre de usuario:
    <input name="username" type="text">
  </p>
  <p>
    Correo Electronico:
    <input name="email" type="email">
  </p>
  <p>
    Password:
    <input name="password" type="password">
  </p>
  <p>
    Posicion en el campo:
    <input name="position" type="text">
  </p>
  <button type = "submit"> Registrarse</button>
</form>
