<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <link rel="stylesheet" href="/stylesheets/style.css">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Exo:400,400i,600,600i,700,700i" rel="stylesheet">
  <title>{{title}}</title>
</head>
<body>
<div>

<div id ="innerpages-hero">
  <div class="container">
      <div id="header">
          <div class="logo">
                <a href="/"><img src="https://res.cloudinary.com/dqdpblijd/image/upload/v1538098203/teammates/Logo.png" alt=""></a>  
          </div>
<nav>
  <ul>
    <li>Nosotros</li>
    <li>¿Cómo funciona?</li>
    <li>Preguntas frecuentes</li>
    <li>Contacto</li>
    <li> <a href="/user/profile"> Mi perfil</a></li>
    <li> <a href="/login"> Login </a></li>
  </ul>
</nav>
</div>
<div class="inner-title">
 <h1>{{{this.username}}}</h1> 
</div>
</div>
  </div>
</div>
<section id="profile-edit">

<div class="profile-edit-container">
  <h1>Edita tu perfil</h1>
<form action="/user/edit" method="post" enctype="multipart/form-data">
  <p>
    Nombre de usuario<br/>
    <input name="username" type="text" value="{{username}}">
  </p>
  <p>
    Posición en el campo<br/>
    <input name="position" type="text" value ="{{position}}">
  </p>
  <p>
    Foto de perfil<br/>
    <input type="file" name="image" id="">
  </p>
  <button type = "submit"> Guardar</button>
</form>
</div>
</div>
</section>

<section id="buttons">

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="button-1">
       <a href="/partidos/torneos/">
    <div class="button-text"> <h2>Inscríbete en un <br><span>Torneo</span> </h2></div>   
      <img src="https://res.cloudinary.com/dqdpblijd/image/upload/v1538098203/teammates/button1.png" alt="" class="img-fluid max-width: 100%;">
      </a>
    </div>
    </div>
    <div class="col-md-3">
      <div class="button-1">
       <a href="/partidos/amistosos/">
    <div class="button-text"> <h2>Inscríbete en un <br><span>Amistoso</span> </h2></div>   
      <img src="https://res.cloudinary.com/dqdpblijd/image/upload/v1538098203/teammates/button2.png" alt="" class="img-fluid max-width: 100%;">
      </a>
    </div>
    </div>
    <div class="col-md-3">
      <div class="button-2">
      <a href="/partidos/amistosoNew/">
     <div class="button-text"> <h2>Crea un <br><span>Amistoso</span> </h2></div> 
      <img src="https://res.cloudinary.com/dqdpblijd/image/upload/v1538098203/teammates/button2.png" alt="" class="img-fluid max-width: 100%;">
      </a>
    </div>
    </div>
    <div class="col-md-3">
      <div class="button-3">
      <a href="/partidos/torneoNew/">
     <div class="button-text"><h2>Crea un <br><span>Torneo</span> </h2></div>  
      <img src="https://res.cloudinary.com/dqdpblijd/image/upload/v1538098203/teammates/button3.png" alt="" class="img-fluid max-width: 100%;">
      </a>
    </div>
    </div>
  </div>

</div>
</section>

<footer>
  <div class="footer-container">
      <nav>
  <ul>
    <li>Nosotros</li>
    <li>¿Cómo funciona?</li>
    <li>Preguntas frecuentes</li>
    <li>Contacto</li>
    <li>Login</li>
  </ul>
</nav>
</div>
</footer>

<script>
document.querySelector('.stars').
  addEventListener('click', function(e){
    var x = e.pageX;
    var elLeft = this.offsetLeft;
    var elWidth = this.offsetWidth;
    var rank = Math.ceil( 100 * (x - elLeft) / elWidth );
    this.querySelector('.rank').style.width = rank+'%'; 
    this.querySelector('.score').innerHTML = rank;
  });
</script>
</body>
</html>






