body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px; }

html {
  scroll-behavior: smooth; }

a {
  color: #f7bf34;
  text-decoration: none;
  font-weight: 600; }

p {
  font-size: 16px;
  line-height: 22px; }

h1, h2, h3, h4 {
  font-family: 'Exo', sans-serif;
  margin-top: 0px; }

h1 {
  font-size: 65px;
  font-style: italic;
  font-weight: 600;
  margin: 0px; }

h2 {
  font-size: 48px;
  font-style: italic;
  font-weight: 600; }

h3 {
  font-size: 36px; }

nav li {
  list-style: none;
  display: inline-flex;
  margin: 0 15px;
  color: #fff;
  font-size: 16px;
  font-weight: 700; }

footer nav li {
  color: #172233; }

nav {
  text-align: right;
  margin: 15px 0; }

.social-media {
  color: #fff;
  text-align: right;
  margin: 0 10px; }

.social-media i {
  margin: 0 5px; }

.container {
  width: 1200px;
  margin: 0 auto; }

.logo img {
  width: 280px; }

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px; }

.hero {
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  bottom: 50%;
  width: 800px;
  margin: 0 auto;
  text-align: center; }

.hero h1, .hero p, .sign-up-container h1, .sign-up-container p, .hero h3 {
  color: #fff; }

.hero h3 {
  font-weight: 300;
  font-size: 30px; }

.hero span, .sign-up-container span {
  color: #f7bf34; }

.hero img {
  background-size: cover;
  background-repeat: no-repeat; }

button {
  background: #f7bf34;
  color: #2b3b55;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer; }

button a, button a:hover {
  color: #2b3b55;
  text-decoration: none; }

#homepage-background {
  position: relative;
  background-image: url(/images/background.jpg);
  background-size: cover;
  height: 100vh;
  background-position: 50% 50%; }

i.fas.fa-arrow-down {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 40px;
  text-align: center;
  font-size: 40px;
  color: #fff; }

#registrarse {
  position: relative;
  background-image: url(/images/section1.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: auto;
  min-height: 500px; }

.registro-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto; }

.registro-container img {
  width: 550px; }

.registro-content h2 {
  color: #f7bf34; }

.player {
  flex: 3;
  margin: 40px; }

.registro-content {
  flex: 4;
  width: 300px;
  text-align: center;
  padding: 0 0 60px 0; }

#funcionamiento {
  background: #172233;
  min-height: 300px;
  height: auto;
  margin-top: -28px;
  padding: 90px 0 90px 0;
  text-align: center; }

#funcionamiento h2 {
  color: #f7bf34; }

#funcionamiento p {
  color: #fff; }

.info {
  width: 250px;
  height: 200px;
  background: #fff; }

.funcion-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px; }

footer {
  background: #f7bf34;
  padding: 10px 0; }

#map {
  width: 100%;
  height: 400px; }

.stars {
  display: inline-block;
  position: relative;
  font-size: 30px; }
  .stars:before {
    content: '\2606\2606\2606\2606\2606'; }

.rank {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 1; }
  .rank:after {
    content: '\2605\2605\2605\2605\2605';
    color: #f7bf34; }

.score {
  font-size: 50%;
  font-weight: bold;
  text-align: left; }

#sign-up, #login {
  background: #1e2d42bd;
  padding: 40px; }

input {
  padding: 13px;
  width: 70%;
  border: 1px solid #c1c1c1; }

.sign-up-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  bottom: 50%;
  width: 800px;
  margin: 0 auto;
  text-align: center; }

#innerpages-hero {
  position: relative;
  background-image: url(/images/background.jpg);
  background-size: cover;
  height: 450px;
  background-position: 50% 50%; }

.inner-title {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: 40%;
  bottom: 50%; }

.inner-title h1 {
  color: #fff;
  text-transform: capitalize; }

#profile {
  position: relative;
  background-image: url(/images/section1.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: auto;
  padding: 80px 0; }

#profile-edit {
  position: relative;
  background-image: url(/images/section1.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: auto;
  padding: 80px 0; }

.profile-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto; }

.profile-edit-container {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  display: block; }

.profile-img {
  flex: 4; }

.profile-img img {
  width: 250px;
  border-radius: 70%;
  height: 238px;
  border: 8px solid #fff;
  margin-left: 50px; }

.profile-info {
  flex: 3;
  padding: 15px; }

.cup-img {
  flex: 4; }

.profile-games {
  flex: 3;
  padding: 15px; }

#profile-buttons {
  height: auto;
  min-height: 350px;
  background: #172233; }

.profile-buttons {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }

.button-text {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: 0px;
  z-index: 1;
  bottom: 0;
  height: 100%;
  width: 100%; }

.button-text h2 {
  color: #fff;
  margin-top: 30%;
  margin-bottom: 30%; }

.button-text h2 span {
  color: #f7bf34; }

.button-1, .button-2, .button-3 {
  position: relative; }

.button-1:after, .button-2:after, .button-3:after {
  position: absolute;
  content: "";
  opacity: 0.7;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #172233;
  z-index: 0; }

#banner-list {
  background: #172233;
  min-height: 95px;
  height: auto;
  margin-top: -28px;
  padding: 20px;
  text-align: center; }

.table .thead-dark th {
  color: #fff;
  background-color: #172233;
  border-color: #172233; }

.form-width {
  width: 50%;
  float: left; }

.footer-container {
  width: 1200px;
  margin: 0 auto; }

.funcion-info i {
  font-size: 60px;
  color: #f7bf34; }

.funcion-info h3 {
  color: #fff; }

/*# sourceMappingURL=style.css.map */