<h1>Crea un nuevo Amistoso</h1>
<form action="/amistosoNew" method="POST">
  <p>
    title:
    <input type="text" name="title" id="" >
  </p>
  <p>
    Descripcion:
    <input type="text" name="description" id="">
  </p>
  <p>
    Rules:
    <input type="text" name="rules" id="">
  </p>
  <p>
    Fecha:
    <input type="date" name="date" id="">
  </p>
  <p>
    Hora:
    <input type="time" name="time" id="">
  </p>
  <p>
    Comentarios:
    <textarea name="comments" id="" cols="0" rows="10"></textarea>
  </p>

  <button type="submit">Crear Amistoso</button>
</form>
